

<!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Beginning Strength</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"> Have you ever wanted to build strength, but did not know where to start? Then this app is for YOU!</h2>
       
        <%= link_to 'Get Started',  my_progression_path, html_options={class:"btn btn-primary mx-auto"} %>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Built with You in Mind</h2>
          <p class="text-white-50">
        The goal of achieving physical fitness, although a very important
        one, can be a fairly daunting task to begin to tackle. Often 
        times the very idea of putting ourselves out there in the world 
        or even the gym can be a bit much. With the Starting Strength 
        App you can build strength, muscle and self confidence using hard
        work and some good old determination. We take all the guess work
        out of fitness allowing you to focus on whats important to you.
        </p>
        </div>
      </div>
      
      <img src="https://www.ironcompany.com/wp/wp-content/uploads/2017/12/Crossfit.jpg" class="img-fluid" alt="">
    </div>
  </section>

