

 <div id="content">
 <%= render 'common/header' %>
<h1>Stats about what you've done!</h1>

<table style="width:60%">
  <tr>
    <th colspan="5">Week 1</th>
  </tr>
  <tr>
    <th>Day 1</th>
    <th>Day 2</th> 
    <th>Day 3</th>
  </tr>
  <tr>
    <td></td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>
