<section id="show" class="about-section">
 
 <!-- Projects Section -->
  <section id="projects" class="projects-section bg-dark">
    <div class="container">
      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
         <iframe width="555" height="320" align="center" src="https://www.youtube.com/embed/QhVC_AnZYYM"  
         frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
         allowfullscreen ></iframe>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">The Squat</h4>
                <p class="mb-0 text-white-50">This is the single most important barbell exercise a person can do. It builds strength throughout the body
                and it helps build mental disipline too.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
                </hr>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
        <iframe width="555" height="320" src="https://www.youtube.com/embed/4AObAU-EcYE" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">The Deadlift</h4>
                <p class="mb-0 text-white-50">This lift has great carry over to the real world. From picking up the groceries off the floor
                to lifting a heavy box from amazon off your porch, the Deadlift teaches proper motor patterns to keep you healthy and free of injury.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
                 </hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    

  
   

      <!-- Project Bench press -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
         <iframe width="555" height="320" src="https://www.youtube.com/embed/4T9UQ4FBVXI"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">The Bench Press</h4>
                <p class="mb-0 text-white-50">This movment is great for building chest strength. It also trains stabilizer muscles in the core.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
                 </hr>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project 4 Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
       <iframe width="555" height="320" src="https://www.youtube.com/embed/CnBmiBqp-AI" 
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">The Over Head Press</h4>
                <p class="mb-0 text-white-50">The Over Head Press is instruental in shoulder growth and health of the shoulder joint.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
                 </hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    

  
   

      <!-- Project 5 Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <iframe width="555" height="325" src="https://www.youtube.com/embed/wIB_X2N6020" 
         frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
         allowfullscreen></iframe>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">The Power Clean</h4>
                <p class="mb-0 text-white-50">This lift is vital for keeping a balance of strength to force development even.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
                 </hr>
              </div>
            </div>
          </div>
        </div>
      </div>


  </section>
  
  </section>