
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$color-background: regent-grey;
$black: #161616;
$primary: #007bff;
$white: #fff;
/*

h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: blue;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
}

h2 {
  text-align: center;
  font-size: 40px;
  color: black;
  background-color: red;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
}

h3 {
  color: black;
  background-color: red;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
  
}

h4 {
  color: black;
  background-color: red;
}

  

*/
body {
  font: 100% $font-stack;
  background-color:black;
  
}
/*
#message {
  font-family: "Georgia", Times, serif;
  font-size: 40px;
  border: blue solid 10px;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  text-align:center;
  background-color:white;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
}

#about{
  font-family: "Georgia", Times, serif;
  font-size: 40px;
  border: red solid 10px;
  padding:50px;
  margin-left:auto;
  margin-right:auto;
  text-align:right;
  width: 80%;
  background-color:white;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
}

p{
  font-size: 20px;
  margin-left:auto;
  margin-right:auto;
  text-align:right;
  width: 40%;
}

nav {
    
    font-size:30px;
    color:black;
    position:fixed;
    border: solid red 10px;
    top:0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 3px 1px #121316
}

nav a:hover {
  background-color: lightblue;
  color: green;
}

iframe{
  
  border: black 10px;
  
  box-shadow: 0px 0px 10px 5px #121316
  
}
*/
table, th, td {
  font-size:30px;
  border: 1px solid black;
   margin-left: auto;
  margin-right: auto;
  width: 80%;
  background: -webkit-linear-gradient(10deg, #495057, black);
  color: white;
;
  
}
th, td {
  padding: 15px;
  text-align: center;
}
/*
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border:red solid 10px;
}

input {
  color:green;
}

#buttonWrapper{
  float: right;
}


*/


// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
}

.btn {
  box-shadow: 0 .1875rem .1875rem 0 rgba(0,0,0,.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}


.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 10%);
  }
  &:focus {
    background-color: darken($primary, 10%);
    color: white;
  }
  &:active {
    background-color: darken($primary, 15%) !important;
  }
}

.contact-section {
  padding: 5rem 0 0;
  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;
    h4 {
      font-size: 0.8rem;
      font-family: 'Varela Round';
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }
    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }
  .social {
    margin-top: 5rem;
    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: fade-out($white, 0.9);
      border-radius: 100%;
      line-height: 3rem;
      color: fade-out($white, 0.7);
      &:hover {
        color: fade-out($white, 0.5);
      }
      &:active {
        color: $white;
      }
    }
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, #{fade-out($black, .7)} 0%,#{fade-out($black, .3)} 75%,$black 100%), url('../img/bg-masthead.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(fade-out(white, 0.1), fade-out(white, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
  @media(min-width: 768px) {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  @media(min-width: 992px) {
    height: 100vh;
    padding: 0;
    h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
}

#mainNav {
  min-height: 56px;
  background-color: $white;
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $primary;
    border: 1px solid $primary;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: $black;
    font-weight: 700;
    padding: .9rem 0;
  }

  .navbar-nav {
    .nav-item {
      &:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
      }
      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }
  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    .navbar-brand {
      padding: .5rem 0;
      color: fade-out($white, .5);
    }
    .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: fade-out($white, .5);
      &:hover {
        color: fade-out($black, .25);
      }
      &:active {
        color: white;
      }
    }
    .nav-item:hover{
      color: fade-out($black, .25);
    }
    
    &.navbar-shrink {
      background-color: $white;
      .navbar-brand {
        color: $black;
      }
      .nav-link {
        color: $black;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
        &:hover {
          color: $primary;
        }
        &:active {
          color: darken($primary, 15%);
        }
        &.active {
          color: $primary;
          outline: none;
          border-bottom: 0.25rem solid $primary;
        }
      }
    }
  }
}

.projects-section {
  padding: 10rem 0;
  .featured-text {
    padding: 2rem;
    @media (min-width: 992px) {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $primary;
    }
  }
  .project-text {
    padding: 3rem;
    font-size: 90%;
    @media (min-width: 992px) {
      padding: 5rem;
      hr {
        border-color: $primary;
        border-width: .25rem;
        width: 30%;
      }
    }
  }
}

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, #{fade-out($black, .9)} 0%,#{fade-out($black, .5)} 75%,$black 100%), url('../img/bg-signup.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .form-inline {
    input {
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0,0,0,.1) !important;
      padding: 1.25rem 2rem;
      height: auto;
      font-family: 'Varela Round';
      font-size: 80%;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      border: 0;
    }
  }
}


// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #161616 !default;

$primary: #64a19d !default;



body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}

.nav a.nav-link:hover{
  color:black;
}


input[type="submit"] {
  padding: 30px;
  
}