
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$color-background: regent-grey;


h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: blue;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
}

h2 {
  text-align: center;
  font-size: 40px;
  color: black;
  background-color: red;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
}

h3 {
  color: black;
  background-color: red;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
  
}

h4 {
  color: black;
  background-color: red;
}

  


body {
  font: 100% $font-stack;
  background-color: #a6b4e0
  
}

#message {
  font-family: "Georgia", Times, serif;
  font-size: 40px;
  border: blue solid 10px;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  text-align:center;
  background-color:white;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
}

#about{
  font-family: "Georgia", Times, serif;
  font-size: 40px;
  border: red solid 10px;
  padding:50px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width: 80%;
  background-color:white;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
}

p{
  font-size: 20px;
}

nav {
    
    font-size:30px;
    color:black;
    position:fixed;
    border: solid red 10px;
    top:0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 3px 1px #121316
}

nav a:hover {
  background-color: lightblue;
  color: green;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: solid blue 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 3px 1px #121316
  
}

table, th, td {
  font-size:30px;
  border: 1px solid black;
  margin-left:30px;
  margin-right:30px;
  background-color:white;
  
}
th, td {
  padding: 15px;
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border:red solid 10px;
}

input {
  color:green;
}







// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
